.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.cardProperties {
	background: #b7a469;
}

.navBar {
	display: flex;
	background: #b7a469;
	align-items: center;
	justify-content: space-between;
}

.signOut {
	background-color: #000000;
	color: white;
	font-size: 25px;
	border: none;
}

.newContact {
	background-color: #000000;
	color: white;
	font-size: 25px;
	border: none;
}
