.Home {
  height:100vh;
  text-align: center;
  background-image: url('../../public/img/arena.jpg');
  background-position: bottom;
  background-size: cover;
  overflow: hidden;
  background-color:black;
}